<div class="pull-right">
    <button class="btn btn-info m-b-5" (click)="edit()" *ngIf="!editMode">
        <i class="fa fa-pencil m-r-5"></i>
        <span>Editar</span>
    </button>
    <button class="btn btn-info m-b-5" (click)="save()" *ngIf="editMode">
        <i class="fa fa-save m-r-5"></i>
        <span>Guardar</span>
    </button>
    <install-certificate></install-certificate>
</div>
<h4 class="header-title m-t-0 m-b-30">Datos de la empresa</h4>
<form action="" [formGroup]="generalDataForm">
    <div class="row">
        <div class="form-group col-lg-6">
            <label for="name">Nombre o Razon Social</label>
            <input type="text" formControlName="name" class="form-control" placeholder="" [readonly]="!editMode">
        </div>
        <div class="form-group col-lg-6">
            <label for="rfc">RFC</label>
            <input type="text" formControlName="rfc" class="form-control" placeholder="" [readonly]="!editMode">
        </div>
    </div>
    <div class="row">
        <div class="form-group col-lg-6">
            <label for="web">Direccion Web</label>
            <input type="text" formControlName="web" class="form-control" placeholder="" [readonly]="!editMode">
        </div>
        <div class="form-group col-lg-6">
            <label for="gln">GLN</label>
            <input type="text" formControlName="gln" class="form-control" placeholder="" [readonly]="!editMode">
        </div>
    </div>
    <h4 class="header-title m-t-20 m-b-10">Domicilio Fiscal</h4>
     <div class="row">
        <div class="form-group col-lg-4">
            <label for="street">Calle</label>
            <input type="text" formControlName="street" class="form-control" placeholder="" [readonly]="!editMode">
        </div>
        <div class="form-group col-lg-4">
            <label for="num_ext">No. Exterior</label>
            <input type="text" formControlName="num_ext" class="form-control" placeholder="" [readonly]="!editMode">
        </div>
        <div class="form-group col-lg-4">
            <label for="num_int">No. Interior</label>
            <input type="text" formControlName="num_int" class="form-control" placeholder="" [readonly]="!editMode">
        </div>
    </div>
    <div class="row">
        <div class="form-group col-lg-12">
            <label for="reference">Referencia</label>
            <input type="text" formControlName="reference" class="form-control" placeholder="" [readonly]="!editMode">
        </div>
    </div>
    <div class="row">
        <div class="form-group col-lg-4">
            <label for="colony">Colonia</label>
            <input type="text" formControlName="colony" class="form-control" placeholder="" [readonly]="!editMode">
        </div>
        <div class="form-group col-lg-4">
            <label for="location">Localidad</label>
            <input type="text" formControlName="location" class="form-control" placeholder="" [readonly]="!editMode">
        </div>
        <div class="form-group col-lg-4">
            <label for="city">Municipio</label>
            <input type="text" formControlName="city" class="form-control" placeholder="" [readonly]="!editMode">
        </div>
    </div>
    <div class="row">
        <div class="form-group col-lg-4">
            <label for="postal_code">Codigo Postal</label>
            <input type="text" formControlName="postal_code" class="form-control" placeholder="" [readonly]="!editMode">
        </div>
        <div class="form-group col-lg-4">
            <label for="state">Estado</label>
            <input type="text" formControlName="state" class="form-control" placeholder="" [readonly]="!editMode">
        </div>
        <div class="form-group col-lg-4">
            <label for="country">País</label>
            <input type="text" formControlName="country" class="form-control" placeholder="" [readonly]="!editMode">
        </div>
    </div>
    <div class="row">
        <div class="form-group col-lg-4">
            <label for="email">e-Mail</label>
            <input type="text" formControlName="email" class="form-control" placeholder="" [readonly]="!editMode">
        </div>
        <div class="form-group col-lg-4">
            <label for="telephone">Teléfono</label>
            <input type="text" formControlName="telephone" class="form-control" placeholder="" [readonly]="!editMode">
        </div>
        <div class="form-group col-lg-4">
            <label for="fax">Fax</label>
            <input type="text" formControlName="fax" class="form-control" placeholder="" [readonly]="!editMode">
        </div>
    </div>
    <div class="row">
        <div class="form-group col-lg-12">
            <label for="name">Regímenes Fiscales</label>
            <input type="text" class="form-control" placeholder="REGIMEN GENERAL DE LEY PERSONAS MORALES" [readonly]="isDisabled()">
        </div>
    </div>
</form>